<h1>Add Company</h1>
<br />
<form id = "addCompany" method = "post" action = "/addcompany">
	<div class = "form-group">
		<!-- <label for = "company">Company Name</label> -->
		<input type = "text" class = "form-control" name = "company" id = "company" placeholder = "Full company name">
	</div>
	<br />
	<button type = "submit" class = "btn btn-primary">Submit</button>
</form>

<script>
	$("#addCompany").validate({
		rules: {
			company: {
				required: true
			}
		}
	});
</script>

<script>
var substringMatcher = function(strs) {
return function findMatches(q, cb) {
var matches, substringRegex;

// an array that will be populated with substring matches
matches = [];

// regex used to determine if a string contains the substring `q`
substrRegex = new RegExp(q, 'i');

// iterate through the pool of strings and for any string that
// contains the substring `q`, add it to the `matches` array
$.each(strs, function(i, str) {
if (substrRegex.test(str)) {
matches.push(str);
}
});

cb(matches);
};
};

// var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
// 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
// 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
// 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
// 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
// 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
// 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
// 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
// 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
// ];

$('#company').typeahead({
hint: true,
highlight: true,
minLength: 1
},
{
// source: function(query, syncResults, asyncResults) {
//         $.get('/search-company?company=' + encodeURIComponent(query), function (data) {
//             console.log("Calling function!");
//             asyncResults(data);
//             console.log(data);
//         });
//     }
// 				display: 'name',
				source: function (query, syncResults, asyncResults) {
				    $.get('/search-company?company=' + encodeURIComponent(query), function (data) {
                // console.log(JSON.parse(data["data"]));
                // console.log(typeof data);
                console.log(typeof data);
                console.log(data);
                asyncResults([data.data.name]);
						})
				}
});
</script>