<h1>Add Position at <a href=<%= URI.escape("/#{@company}") %>><%=h @company %></a></h1>
<br />
<form id = "addPosition" method = "post" action = <%= URI.escape("/#{@company}/addposition")%>>
	<div class = "form-group">
		<input type="hidden" id="company" name="company" value="<%= @company %>">
		<input type = "text" class = "form-control" name = "position" id = "position" placeholder = "Full position name">
	</div>
	<br />
	<button type = "submit" class = "btn btn-primary">Submit</button>
</form>

<script>
	$("#addPosition").validate({
		rules: {
			position: {
				required: true,
				alphanumericbasicpunc: true
			}
		}
	});
</script>

<script>
    $('#position').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            source: function (query, syncResults, asyncResults) {
                $.get('/search-company?position=' + encodeURIComponent(query) + '?company=' + encodeURIComponent($('#company').val()), function (data) {
                    //Take the results and pull out the data we need into array
                    var companyNames = [];
                    for (var company in data) {
                        //Parse the string contained inside each index in array to JSON
                        var curr = JSON.parse(data[company]);
                        companyNames.push(curr.name)
                    }
                    //Pass the results to typeahead
                    asyncResults(companyNames);
                })
            }
        });
</script>
