<h1>Add Company</h1>
<br />
<form id = "addCompany" method = "post" action = "/addcompany">
	<div class = "form-group">
		<input type = "text" class = "form-control" name = "company" id = "company" placeholder = "Full company name">
	</div>
	<br />
	<button type = "submit" class = "btn btn-primary">Submit</button>
</form>

<script>
	$("#addCompany").validate({
		rules: {
			company: {
				required: true
			}
		}
	});
</script>

<script>
	$('#company').typeahead({
		hint: true,
		highlight: true,
		minLength: 1
	},
	{
	    display: 'name',
			source: function (query, syncResults, asyncResults) {
					$.get('/search-company?company=' + encodeURIComponent(query), function (data) {
					    console.log(data);
							asyncResults(data);
					})
			}
	});
</script>