<h1>Currently Listed Companies</h1>
<br />
<% @companies.each do |company| %>
  <h4><a href="/<%=h company.name %>"> <%=h company.name %> </a></h4>
<%end%>
<br />
<a href="/addcompany">
  <button type="button" class="btn btn-primary btn-lg btn-block">Add a company</button>
</a>
