<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/typeaheadjs.css">
		<link rel="stylesheet" href="/css/bootstrap-select.min.css">
		<link rel="stylesheet" href="/css/styles.css">

		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/alphanumericbasicpunc.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/typeahead.bundle.js"></script>
		<script src="/js/bootstrap-select.min.js"></script>

		<title>Open Compensation Project - <%= @title %> - Compare your salary across companies</title>
	</head>
	<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Open Compensation Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/companies">Companies</a>
          </li>
<!--           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

	<main role="main" class="container">
		<div class="starter-template">
			<%= yield %>
		</div>

	</main>
		<script>
		  $(document).ready(function() {
		    $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
		  });
		</script>
		<script type="text/javascript">
				var clicky_site_ids = clicky_site_ids || [];
				clicky_site_ids.push(101107425);
				(function() {
						var s = document.createElement('script');
						s.type = 'text/javascript';
						s.async = true;
						s.src = '//static.getclicky.com/js';
						( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
				})();
		</script>
	</body>
	<footer class="footer">
		&copy; 2018 Open Compensation Project
		<a href = "mailto:opencompensationproject@gmail.com">Email Us</a>
	</footer>
</html>
